h1 {
    font-size: 100px
}
.card-header {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    background-color: rgb(40, 94, 58);
    border-bottom: 5px solid black;
    color: white;
    font-family: "Courier New", Courier, monospace;
}
body {
    background-color: black
}
.jumbotron {
    background-image: url("nytimes.png");
    background-size: cover;
    
}
p {
    border-bottom: 5px solid gray;
    padding: 0px;
    margin: 0px;
    font-family: "Courier New", Courier, monospace;
}